.serviceContainer .textDiv {
	width: 40%;
}

.serviceContainer .textDiv p {
	font-weight: 700;
	color: rgb(78, 19, 209);
}

.serviceContainer .textDiv h2 {
	font-size: 2rem;
	font-weight: 700;
}

.serviceContainer .services {
	gap: 40px;
	display: flex;
	margin-top: 50px;
	align-items: center;
}
