.main {
	display: flex;
	height: 100vh;
	justify-content: space-between;
	align-items: center;
}

.formSection {
	height: 100vh;
	padding: 80px;
}

.main .carroselSection {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	width: 50%;
	background-color: #4d13d1;
	height: 100vh;
}

.main .carroselSection img {
	max-width: 400px;
}

.main .carroselSection .textDiv {
	display: flex;
	gap: 5px;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	width: 70%;
	font-size: 1.5rem;
}

.main .carroselSection .textDiv p {
	text-align: center;
	color: #ddd;
	font-size: 1rem;
}
