.SignUpForm {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.SignUpForm .buttonDiv {
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
}

.SignUpForm .buttonDiv .link {
	display: flex;
	align-items: center;
	gap: 5px;
}

.SignUpForm .labelCheckbox {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
}

.SignUpForm .labelCheckbox input {
	width: 20px;
	height: 20px;
}

.SignUpForm .labelCheckbox p > span {
	color: #4d13d1;
	font-weight: 700;
	text-decoration: solid 1px #4d13d1;
}
