.form {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.form .errorMessage {
	color: crimson;
	font-weight: 400;
}

.form input {
	width: 100%;
	height: 50px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-top: 10px;
	padding-left: 10px;
	margin-bottom: 5px;
}

.form input[error='true'] {
	border: 1px solid crimson;
}

.form label {
	font-weight: 700;
	margin-bottom: 25px;
}

.form .buttonDiv {
	display: flex;
	flex-direction: column;
	gap: 15px;

	align-items: center;
}

.form .buttonDiv .link {
	display: flex;
	align-items: center;
	gap: 5px;
}
