.nav {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav .links {
	gap: 15px;
	display: flex;
	list-style: none;
	color: #0c0b07;
	align-items: center;
}

.nav .logo {
	font-size: 1.2rem;
}
